Repository SpecterOps/BloodHound, pull requests merged in 2024-08, with the labels that each got.

#759 BED-4460: stop retrying /features request at app entrypoint
  cmd/ui/src/App.tsx
  cmd/ui/src/hooks/useFeatureFlags.tsx
Labels: bug, user interface

#765 BED-4664 fix: remove fatal return on init analysis
  cmd/api/src/services/entrypoint.go
Labels: api

#767 BED-4662 implement new `in` predicate for string filtering on PG
  cmd/api/src/model/filter.go
  cmd/api/src/model/filter_test.go
  cmd/api/src/model/saved_queries.go
  cmd/api/src/model/saved_queries_test.go
Labels: enhancement, api

#768 BED-4666: remove logout on 401 /features
  cmd/ui/src/utils.ts
Labels: bug, user interface

#769 fix: BED-4667 - fix incorrect openapi tags
  packages/go/openapi/doc/openapi.json
  packages/go/openapi/src/openapi.yaml
  packages/go/openapi/src/paths/auth.saml.providers.id.yaml
  packages/go/openapi/src/paths/config.config.yaml
  packages/go/openapi/src/paths/tokens.tokens.yaml
  packages/javascript/bh-shared-ui/src/constants.ts
Labels: documentation

#770 chore: revert available SharpHound version to v2.4.1
  dockerfiles/bloodhound.Dockerfile
  tools/docker-compose/api.Dockerfile
Labels: api, release blocker

#774 BED-4675: Update publish workflows to set a relevant run-name
  .github/workflows/publish.yml
  .github/workflows/rc-publish.yml
Labels: infrastructure

#777 BED-4663: Testing ergonomics fix
  cmd/api/src/analysis/hybrid/hybrid_integration_test.go
  dockerfiles/bloodhound.Dockerfile
  tools/docker-compose/api.Dockerfile
Labels: api

#780 Bed 4538
  cmd/api/src/analysis/ad/adcs_integration_test.go
  cmd/api/src/api/constant.go
  cmd/api/src/api/v2/file_uploads.go
  cmd/api/src/api/v2/file_uploads_integration_test.go
  cmd/api/src/api/v2/saved_queries.go
  cmd/api/src/api/v2/saved_queries_test.go
  cmd/api/src/database/mocks/db.go
  cmd/api/src/database/saved_queries.go
  cmd/api/src/migrations/manifest.go
  cmd/api/src/model/filter.go
  cmd/api/src/model/saved_queries.go
  cmd/api/src/model/saved_queries_permissions.go
  cmd/api/src/services/fileupload/file_upload.go
  cmd/api/src/services/fileupload/file_upload_test.go
  cmd/api/src/services/fileupload/validation.go
  packages/go/analysis/ad/esc4.go
  packages/go/dawgs/drivers/neo4j/cypher_internal_test.go
  packages/go/dawgs/ops/ops.go
  packages/go/graphschema/ad/ad.go
  packages/go/graphschema/azure/azure.go
  packages/go/graphschema/common/common.go
  packages/go/openapi/src/paths/cypher.saved-queries.yaml
Labels: enhancement, api

#773 BED-4674 - Add default limits to all queries
  packages/javascript/bh-shared-ui/src/commonSearches.tsx
Labels: user interface

#786 chore: add FF migration for postgres dual ingest
  cmd/api/src/database/migration/migrations/v5.14.0.sql
Labels: api

#783 BED-4679: set portal location for all portal-able(?) components
  cmd/ui/src/App.tsx
  packages/javascript/bh-shared-ui/src/constants.ts
Labels: bug, user interface

#764 fix: correctly stream process json data normalization to utf8 for bot…
  cmd/api/src/api/v2/file_uploads_integration_test.go
  cmd/api/src/go.mod
  cmd/api/src/go.sum
  cmd/api/src/services/fileupload/file_upload.go
  cmd/api/src/services/fileupload/file_upload_test.go
  go.work
  packages/go/bomenc/encodings.go
  packages/go/bomenc/encodings_test.go
  packages/go/bomenc/go.mod
  packages/go/bomenc/go.sum
  packages/go/bomenc/normalize.go
  packages/go/bomenc/normalize_test.go
Labels: bug, api

#792 chore: refactored saved query id parameter to always expect int64
  cmd/api/src/api/v2/saved_queries.go
  cmd/api/src/database/mocks/db.go
  cmd/api/src/database/saved_queries.go
Labels: enhancement, api, ticketed

#787 Bed 4582
  cmd/api/src/api/v2/saved_queries.go
  cmd/api/src/api/v2/saved_queries_test.go
  cmd/api/src/queries/graph.go
  cmd/api/src/test/fixtures/fixtures/expected_ingest.go
  cmd/ui/src/utils.ts
  packages/go/cypher/analyzer/analyzer.go
  packages/go/cypher/analyzer/measure.go
  packages/go/cypher/frontend/comparison.go
  packages/go/cypher/frontend/expression.go
  packages/go/cypher/frontend/literal.go
  packages/go/cypher/frontend/parse.go
  packages/go/cypher/frontend/pattern.go
  packages/go/cypher/frontend/query.go
  packages/go/cypher/models/cypher/copy_test.go
  packages/go/cypher/models/cypher/format/format.go
  packages/go/cypher/models/cypher/format/format_test.go
  packages/go/cypher/models/cypher/walk_test.go
  packages/go/cypher/models/pgsql/format/format_test.go
  packages/go/cypher/models/pgsql/identifiers.go
  packages/go/cypher/models/pgsql/identifiers_test.go
  packages/go/cypher/models/pgsql/model.go
  packages/go/cypher/models/pgsql/nodes.go
  packages/go/cypher/models/pgsql/pgtypes.go
  packages/go/cypher/models/pgsql/test/testcase.go
  packages/go/cypher/models/pgsql/translate/constraints.go
  packages/go/cypher/models/pgsql/translate/delete.go
  packages/go/cypher/models/pgsql/translate/expression.go
  packages/go/cypher/models/pgsql/translate/format.go
  packages/go/cypher/models/pgsql/translate/model.go
  packages/go/cypher/models/pgsql/translate/node.go
  packages/go/cypher/models/pgsql/translate/predicate.go
  packages/go/cypher/models/pgsql/translate/projection.go
  packages/go/cypher/models/pgsql/translate/relationship.go
  packages/go/cypher/models/pgsql/translate/renamer.go
  packages/go/cypher/models/pgsql/translate/tracking.go
  packages/go/cypher/models/pgsql/translate/translation.go
  packages/go/cypher/models/pgsql/translate/translator.go
  packages/go/cypher/models/pgsql/translate/translator_test.go
  packages/go/cypher/models/pgsql/translate/traversal.go
  packages/go/cypher/models/pgsql/translate/update.go
  packages/go/cypher/models/pgsql/type.go
  packages/go/cypher/models/pgsql/visualization/puml.go
  packages/go/cypher/models/pgsql/visualization/visualizer.go
  packages/go/cypher/models/pgsql/visualization/visualizer_test.go
  packages/go/cypher/models/walk/walk.go
  packages/go/cypher/models/walk/walk_cypher.go
  packages/go/cypher/models/walk/walk_pgsql.go
  packages/go/cypher/models/walk/walk_test.go
  packages/go/cypher/test/test.go
  packages/go/dawgs/drivers/pg/pg_integration_test.go
  packages/go/dawgs/drivers/pg/query.go
  packages/go/dawgs/drivers/pg/transaction.go
  packages/go/dawgs/drivers/pg/util.go
  packages/go/dawgs/query/builder.go
  packages/go/dawgs/query/neo4j/neo4j.go
  packages/go/openapi/doc/openapi.json
Labels: enhancement, api

#794 Bed-4168: fix: Inaccurate asset group counts
  cmd/api/src/api/v2/agi.go
  cmd/api/src/api/v2/agi_internal_test.go
  cmd/api/src/api/v2/agi_test.go
  cmd/api/src/daemons/datapipe/analysis.go
  cmd/api/src/queries/graph.go
  cmd/api/src/queries/graph_integration_test.go
  cmd/api/src/queries/mocks/graph.go
  cmd/api/src/services/agi/agi.go
  cmd/ui/src/utils.ts
  packages/go/analysis/go.mod
  packages/go/analysis/go.sum
  packages/go/bomenc/go.mod
  packages/go/bomenc/go.sum
  packages/go/cache/go.mod
  packages/go/cache/go.sum
  packages/go/crypto/go.mod
  packages/go/crypto/go.sum
  packages/go/cypher/go.mod
  packages/go/cypher/go.sum
  packages/go/cypher/models/pgsql/identifiers_test.go
  packages/go/cypher/models/pgsql/test/testcase.go
  packages/go/cypher/models/pgsql/translate/format.go
  packages/go/dawgs/drivers/pg/util.go
  packages/go/dawgs/go.mod
  packages/go/dawgs/go.sum
  packages/go/errors/go.mod
  packages/go/errors/go.sum
  packages/go/lab/go.mod
  packages/go/lab/go.sum
  packages/go/openapi/doc/openapi.json
  packages/go/schemagen/go.mod
  packages/go/schemagen/go.sum
  packages/go/slicesext/go.mod
  packages/go/slicesext/go.sum
  packages/go/stbernard/go.mod
  packages/go/stbernard/go.sum
Labels: api

#788 Bed 4694: require auth for feature flags request
  cmd/ui/src/App.test.tsx
  cmd/ui/src/App.tsx
  cmd/ui/src/ducks/auth/authSlice.ts
  cmd/ui/src/hooks/useFeatureFlags.tsx
Labels: bug, user interface

#798 updated table
  cmd/api/src/database/saved_queries.go
Labels: bug, api

#795 Owned object visual representation
  cmd/api/src/model/unified_graph.go
  cmd/ui/src/ducks/explore/actions.ts
  cmd/ui/src/ducks/explore/reducer.ts
  cmd/ui/src/ducks/explore/types.ts
  cmd/ui/src/utils.ts
  cmd/ui/src/views/Explore/BasicObjectInfoFields.tsx
  cmd/ui/src/views/Explore/ContextMenu/AssetGroupMenuItem.tsx
  cmd/ui/src/views/Explore/utils.ts
  packages/javascript/bh-shared-ui/src/components/SearchCurrentNodes/SearchCurrentNodes.test.tsx
  packages/javascript/bh-shared-ui/src/components/SearchCurrentNodes/types.ts
  packages/javascript/bh-shared-ui/src/constants.ts
  packages/javascript/bh-shared-ui/src/utils/icons.ts
  packages/javascript/js-client-library/src/types.ts
Labels: enhancement, user interface

#772 BED-4363 - Refactor: Remove in-app migration sync for pure stepwise migrations
  cmd/api/src/auth/permission.go
  cmd/api/src/auth/role.go
  cmd/api/src/database/db.go
  cmd/api/src/database/migration/agi.go
  cmd/api/src/database/migration/agi_test.go
  cmd/api/src/database/migration/app_config.go
  cmd/api/src/database/migration/auth.go
  cmd/api/src/database/migration/cleanup.go
  cmd/api/src/database/migration/migration.go
  cmd/api/src/database/migration/migration_integration_test.go
  cmd/api/src/database/migration/migrations/schema.sql
  cmd/api/src/database/migration/migrations/v5.1.1.sql
  cmd/api/src/database/migration/migrations/v5.15.0.sql
  cmd/api/src/database/migration/migrations/v5.4.0.sql
  cmd/api/src/database/migration/stepwise.go
  cmd/api/src/migrations/graph.go
  cmd/api/src/model/appcfg/flag.go
Labels: api

#807 BED-4735: Linting Fixes
  cmd/api/src/database/mocks/db.go
  cmd/api/src/model/unified_graph.go
  cmd/ui/src/ducks/explore/reducer.ts
  cmd/ui/src/utils.ts
  cmd/ui/src/views/Explore/ContextMenu/AssetGroupMenuItem.tsx
  cmd/ui/src/views/Explore/utils.ts
Labels: api

#803 fix: prevent cyclic traversals in esc13 post processing
  packages/go/analysis/ad/esc13.go
  packages/go/analysis/ad/post.go
  packages/go/dawgs/ops/traversal.go
Labels: bug, api

#793 BED-4707 added saved queries unshare endpoint
  cmd/api/src/api/registration/v2.go
  cmd/api/src/api/v2/saved_queries_permissions.go
  cmd/api/src/api/v2/saved_queries_permissions_test.go
  cmd/api/src/database/mocks/db.go
  cmd/api/src/database/saved_queries.go
  cmd/api/src/database/saved_queries_permissions.go
  cmd/api/src/database/saved_queries_permissions_test.go
  cmd/api/src/database/saved_queries_test.go
  packages/go/openapi/doc/openapi.json
  packages/go/openapi/src/openapi.yaml
  packages/go/openapi/src/paths/cypher.saved-queries.id.permissions.yaml
Labels: documentation, enhancement, api

#611 feat: auto tag T0 parent objects
  cmd/api/src/daemons/datapipe/agi.go
  cmd/api/src/daemons/datapipe/analysis.go
  cmd/api/src/database/migration/migrations/v5.15.0.sql
  cmd/api/src/model/appcfg/flag.go
  packages/go/analysis/ad/queries.go
Labels: enhancement

#607 Write gPLink abuse
  packages/cue/bh/ad/ad.cue
  packages/go/graphschema/ad/ad.go
  packages/javascript/bh-shared-ui/src/components/HelpTexts/GenericAll/LinuxAbuse.tsx
  packages/javascript/bh-shared-ui/src/components/HelpTexts/GenericAll/References.tsx
  packages/javascript/bh-shared-ui/src/components/HelpTexts/GenericAll/WindowsAbuse.tsx
  packages/javascript/bh-shared-ui/src/components/HelpTexts/GenericWrite/LinuxAbuse.tsx
  packages/javascript/bh-shared-ui/src/components/HelpTexts/GenericWrite/References.tsx
  packages/javascript/bh-shared-ui/src/components/HelpTexts/GenericWrite/WindowsAbuse.tsx
  packages/javascript/bh-shared-ui/src/components/HelpTexts/Owns/LinuxAbuse.tsx
  packages/javascript/bh-shared-ui/src/components/HelpTexts/Owns/WindowsAbuse.tsx
  packages/javascript/bh-shared-ui/src/components/HelpTexts/WriteDacl/LinuxAbuse.tsx
  packages/javascript/bh-shared-ui/src/components/HelpTexts/WriteDacl/WindowsAbuse.tsx
  packages/javascript/bh-shared-ui/src/components/HelpTexts/WriteGPLink/General.tsx
  packages/javascript/bh-shared-ui/src/components/HelpTexts/WriteGPLink/LinuxAbuse.tsx
  packages/javascript/bh-shared-ui/src/components/HelpTexts/WriteGPLink/Opsec.tsx
  packages/javascript/bh-shared-ui/src/components/HelpTexts/WriteGPLink/References.tsx
  packages/javascript/bh-shared-ui/src/components/HelpTexts/WriteGPLink/WindowsAbuse.tsx
  packages/javascript/bh-shared-ui/src/components/HelpTexts/WriteGPLink/WriteGPLink.tsx
  packages/javascript/bh-shared-ui/src/components/HelpTexts/WriteOwner/LinuxAbuse.tsx
  packages/javascript/bh-shared-ui/src/components/HelpTexts/WriteOwner/WindowsAbuse.tsx
  packages/javascript/bh-shared-ui/src/components/HelpTexts/index.tsx
  packages/javascript/bh-shared-ui/src/graphSchema.ts
  packages/javascript/bh-shared-ui/src/views/Explore/ExploreSearch/edgeTypes.tsx
Labels: enhancement

#775 BED-4537: Create Share endpoint
  cmd/api/src/api/registration/v2.go
  cmd/api/src/api/v2/saved_queries.go
  cmd/api/src/api/v2/saved_queries_permissions.go
  cmd/api/src/api/v2/saved_queries_permissions_test.go
  cmd/api/src/api/v2/saved_queries_test.go
  cmd/api/src/database/mocks/db.go
  cmd/api/src/database/saved_queries.go
  cmd/api/src/database/saved_queries_permissions.go
  cmd/api/src/database/saved_queries_permissions_test.go
  cmd/api/src/database/saved_queries_test.go
  cmd/api/src/model/saved_queries_permissions.go
  packages/go/openapi/doc/openapi.json
  packages/go/openapi/src/paths/cypher.saved-queries.id.permissions.yaml
  packages/go/openapi/src/schemas/model.saved-queries-permissions.yaml
Labels: documentation, enhancement, api

#816 BED-4740: replace BloodhoundDB with GetFlagByKeyer
  cmd/api/src/daemons/datapipe/agi.go
Labels: api

#813 Bed 4738: fix silent error in <Inner /> test
  cmd/ui/src/App.test.tsx
Labels: user interface

#817 BED-4744: Fix `just init clean`
  cmd/api/src/go.mod
  cmd/api/src/go.sum
  justfile
Labels: enhancement, tooling

#808 BED-4726 added new ~eq predicate for filtering on strings
  cmd/api/src/database/migration/migrations/v5.16.0.sql
  cmd/api/src/model/filter.go
  cmd/api/src/model/filter_internal_test.go
  cmd/api/src/model/filter_test.go
  cmd/api/src/model/saved_queries.go
  cmd/api/src/model/saved_queries_test.go
  packages/go/graphschema/ad/ad.go
  packages/go/graphschema/azure/azure.go
  packages/go/graphschema/common/common.go
  packages/go/openapi/doc/openapi.json
  packages/go/openapi/src/schemas/api.params.predicate.filter.string.yaml
Labels: documentation, enhancement, api

#821 BED-4778: Fix Go version in distroless release image
  dockerfiles/bloodhound.Dockerfile
Labels: release blocker

#822 BED-4747: Disable Failing Tests
  cmd/api/src/analysis/ad/adcs_integration_test.go
  cmd/api/src/api/v2/file_uploads_integration_test.go
Labels: api

#823 BED-4778: Fix multiarch builds
  dockerfiles/bloodhound.Dockerfile
Labels: tooling, release blocker

#824 BED-4781: Add Parca Config for ToolAPI
  .env.example
  docker-compose.dev.yml
  local-harnesses/build.config.json.template
  parca.yaml
  tools/docker-compose/api.Dockerfile
Labels: tooling
