Repository SpecterOps/BloodHound, pull requests merged in 2024-03, with the labels that each got.

#480 fix: plumb ctx into data quality db methods
  cmd/api/src/api/v2/ad_related_entity.go
  cmd/api/src/api/v2/ad_related_entity_test.go
  cmd/api/src/api/v2/dataquality.go
  cmd/api/src/api/v2/dataquality_test.go
  cmd/api/src/daemons/datapipe/stat.go
  cmd/api/src/database/dataquality.go
  cmd/api/src/database/db.go
  cmd/api/src/database/mocks/db.go
  cmd/api/src/queries/graph.go
  cmd/api/src/queries/graph_integration_test.go
  cmd/api/src/queries/graph_internal_test.go
  cmd/api/src/queries/graph_test.go
  cmd/api/src/queries/mocks/graph.go
  cmd/api/src/services/dataquality/dataquality.go
  cmd/api/src/services/dataquality/mocks/mock.go
  packages/go/analysis/ad/ad.go
Labels: API

#481 fix: plumb ctx into saved queries db methods
  cmd/api/src/api/v2/saved_queries.go
  cmd/api/src/api/v2/saved_queries_test.go
  cmd/api/src/database/db.go
  cmd/api/src/database/mocks/db.go
  cmd/api/src/database/saved_queries.go
  cmd/api/src/database/saved_queries_test.go
Labels: API

#485 fix: plumb ctx into remaining bh db methods
  cmd/api/src/api/v2/integration/api.go
  cmd/api/src/bootstrap/initializer.go
  cmd/api/src/bootstrap/server.go
  cmd/api/src/database/agi_test.go
  cmd/api/src/database/audit_test.go
  cmd/api/src/database/auth.go
  cmd/api/src/database/auth_test.go
  cmd/api/src/database/db.go
  cmd/api/src/database/migration/agi_integration_test.go
  cmd/api/src/database/mocks/db.go
  cmd/api/src/database/saved_queries_test.go
  cmd/api/src/test/integration/database.go
  cmd/api/src/test/lab/fixtures/api.go
  cmd/api/src/test/lab/fixtures/postgres.go
Labels: API

#486 fix: plumb ctx into feature flag db methods
  cmd/api/src/api/middleware/middleware.go
  cmd/api/src/api/tools/flag.go
  cmd/api/src/api/v2/ad_related_entity.go
  cmd/api/src/api/v2/ad_related_entity_test.go
  cmd/api/src/api/v2/flag.go
  cmd/api/src/api/v2/flag_test.go
  cmd/api/src/daemons/datapipe/analysis.go
  cmd/api/src/daemons/datapipe/datapipe.go
  cmd/api/src/database/app_config.go
  cmd/api/src/database/mocks/db.go
  cmd/api/src/model/appcfg/flag.go
Labels: API

#498 BED-4265: added new mime types to fix file upload validation bug
  cmd/api/src/api/marshalling.go
  cmd/api/src/api/v2/file_uploads.go
  cmd/api/src/api/v2/file_uploads_test.go
  cmd/api/src/model/ingest/ingest.go
  cmd/api/src/services/fileupload/file_upload.go
  cmd/api/src/utils/util.go
  cmd/api/src/utils/util_test.go
  packages/go/mediatypes/application.go
Labels: bug, api

#504 Set "Content-Type" header correctly for file uploads
  packages/javascript/bh-shared-ui/src/components/FileUploadDialog/FileUploadDialog.tsx
Labels: bug, user interface

#490 ESC4 Edge Composition
  cmd/api/src/analysis/ad/adcs_integration_test.go
  packages/cue/bh/ad/ad.cue
  packages/go/analysis/ad/ad.go
  packages/go/analysis/ad/esc4.go
  packages/javascript/bh-shared-ui/src/components/HelpTexts/ADCSESC4/ADCSESC4.tsx
  packages/javascript/bh-shared-ui/src/graphSchema.ts
Labels: enhancement, api, user interface

#484 Bed 4154 esc3 comp update
  cmd/api/src/analysis/ad/adcs_integration_test.go
  cmd/api/src/test/integration/harnesses.go
  cmd/api/src/test/integration/harnesses/esc3harness2.json
  cmd/api/src/test/integration/harnesses/esc3harness2.svg
  packages/go/analysis/ad/esc3.go
Labels: bug, api

#494 fix: handle undefined input in explore search input
  cmd/ui/src/ducks/index.ts
  cmd/ui/src/ducks/searchbar/saga.ts
  cmd/ui/src/store.ts
  cmd/ui/src/views/Explore/BasicObjectInfoFields.tsx
  cmd/ui/src/views/Explore/ContextMenu/ContextMenu.test.tsx
  cmd/ui/src/views/Explore/ContextMenu/ContextMenu.tsx
  cmd/ui/src/views/Explore/EntityInfo/EntityInfoDataTable.tsx
  cmd/ui/src/views/Explore/ExploreSearch/CommonSearches.tsx
  cmd/ui/src/views/Explore/ExploreSearch/CypherSearch.tsx
  cmd/ui/src/views/Explore/ExploreSearch/EdgeFilter.tsx
  cmd/ui/src/views/Explore/ExploreSearch/EdgeFilteringDialog.tsx
  cmd/ui/src/views/Explore/ExploreSearch/ExploreSearch.test.tsx
  cmd/ui/src/views/Explore/ExploreSearch/ExploreSearch.tsx
  cmd/ui/src/views/Explore/ExploreSearch/NodeSearch.tsx
  cmd/ui/src/views/Explore/ExploreSearch/PathfindingSearch.test.tsx
  cmd/ui/src/views/Explore/ExploreSearch/PathfindingSearch.tsx
  cmd/ui/src/views/Explore/ExploreSearch/PathfindingSwapButton.tsx
  cmd/ui/src/views/Explore/ExploreSearchCombobox/ExploreSearchCombobox.tsx
  cmd/ui/src/views/GroupManagement/GroupManagement.tsx
  packages/javascript/bh-shared-ui/rollup.config.js
  packages/javascript/bh-shared-ui/src/components/FileValidationStatus/FileValidationStatus.tsx
  packages/javascript/bh-shared-ui/src/hooks/useSearch/useSearch.test.ts
  packages/javascript/bh-shared-ui/src/hooks/useSearch/useSearch.tsx
  packages/javascript/bh-shared-ui/src/store/index.ts
  packages/javascript/bh-shared-ui/src/store/searchbar/actions.ts
  packages/javascript/bh-shared-ui/src/store/searchbar/index.ts
  packages/javascript/bh-shared-ui/src/store/searchbar/reducer.ts
  packages/javascript/bh-shared-ui/src/store/searchbar/types.ts
  packages/javascript/bh-shared-ui/src/views/Explore/ExploreSearch/edgeTypes.tsx
Labels: bug, user interface

#509 fix: revert response shape for type=graph related entity queries
  cmd/api/src/api/v2/ad_related_entity.go
  cmd/api/src/api/v2/ad_related_entity_test.go
  cmd/api/src/queries/graph_integration_test.go
Labels: bug, api

#499 feat: add esc13 edge info content
  packages/javascript/bh-shared-ui/src/components/HelpTexts/ADCSESC13/ADCSESC13.tsx
  packages/javascript/bh-shared-ui/src/components/HelpTexts/ADCSESC13/General.tsx
  packages/javascript/bh-shared-ui/src/components/HelpTexts/ADCSESC13/LinuxAbuse.tsx
  packages/javascript/bh-shared-ui/src/components/HelpTexts/ADCSESC13/Opsec.tsx
  packages/javascript/bh-shared-ui/src/components/HelpTexts/ADCSESC13/References.tsx
  packages/javascript/bh-shared-ui/src/components/HelpTexts/ADCSESC13/WindowsAbuse.tsx
  packages/javascript/bh-shared-ui/src/components/HelpTexts/index.tsx
Labels: enhancement, user interface

#460 [BED-4105] Add new risk exposure calculation flag
  cmd/api/src/model/appcfg/flag.go
Labels: enhancement, api

#511 fix: typo and wrong format for code snippit
  packages/javascript/bh-shared-ui/src/components/HelpTexts/ADCSESC4/LinuxAbuse.tsx
  packages/javascript/bh-shared-ui/src/components/HelpTexts/ADCSESC4/WindowsAbuse.tsx
  packages/javascript/bh-shared-ui/src/components/HelpTexts/CodeController/CodeController.tsx
Labels: user interface

#516 fix: BED-4283 - fixed invalid json syntax in swagger doc json
  cmd/api/src/api/v2/docs.go
Labels: bug, documentation, api

#517 Move graph deletion to datapipe
  cmd/api/src/api/v2/database_wipe.go
  cmd/api/src/api/v2/database_wipe_test.go
  cmd/api/src/daemons/datapipe/datapipe.go
  cmd/api/src/daemons/datapipe/delete.go
  cmd/api/src/daemons/datapipe/mocks/tasker.go
  cmd/api/src/database/file_upload.go
  cmd/api/src/database/mocks/db.go
  cmd/api/src/model/datapipe_status.go
  cmd/api/src/services/fileupload/file_upload.go
  cmd/api/src/services/fileupload/mocks/mock.go
  justfile
Labels: bug, api

#514 fix: add missing condition in saved query
  packages/javascript/bh-shared-ui/src/commonSearches.tsx
Labels: bug, user interface

#523 chore: gate graph clearing
  cmd/api/src/api/v2/database_wipe.go
  cmd/api/src/api/v2/database_wipe_test.go
  cmd/api/src/model/appcfg/flag.go
  cmd/ui/src/views/DatabaseManagement/DatabaseManagement.test.tsx
  cmd/ui/src/views/DatabaseManagement/DatabaseManagement.tsx
Labels: api, user interface

#510 Resolve vulnerabilities in neo4j container
  docker-compose.dev.yml
  docker-compose.testing.yml
  tools/docker-compose/neo4j.Dockerfile
Labels: infrastructure

#527 Stage/v5.8.0
  cmd/api/src/api/bloodhoundgraph/bloodhoundgraph.go
  cmd/api/src/api/v2/ad_related_entity.go
  cmd/api/src/api/v2/ad_related_entity_test.go
  cmd/api/src/api/v2/database_wipe.go
  cmd/api/src/api/v2/database_wipe_test.go
  cmd/api/src/api/v2/docs.go
  cmd/api/src/daemons/datapipe/datapipe.go
  cmd/api/src/daemons/datapipe/delete.go
  cmd/api/src/daemons/datapipe/mocks/tasker.go
  cmd/api/src/database/file_upload.go
  cmd/api/src/database/mocks/db.go
  cmd/api/src/model/appcfg/flag.go
  cmd/api/src/model/datapipe_status.go
  cmd/api/src/queries/graph_integration_test.go
  cmd/api/src/services/fileupload/file_upload.go
  cmd/api/src/services/fileupload/mocks/mock.go
  cmd/ui/src/views/DatabaseManagement/DatabaseManagement.test.tsx
  cmd/ui/src/views/DatabaseManagement/DatabaseManagement.tsx
  dockerfiles/bloodhound.Dockerfile
  justfile
  packages/javascript/bh-shared-ui/src/components/HelpTexts/ADCSESC4/LinuxAbuse.tsx
  packages/javascript/bh-shared-ui/src/components/HelpTexts/ADCSESC4/WindowsAbuse.tsx
  packages/javascript/bh-shared-ui/src/components/HelpTexts/CodeController/CodeController.tsx
  tools/docker-compose/api.Dockerfile
Labels: api, user interface

#526 Sanitize cypher errors from neo4j driver
  packages/go/dawgs/drivers/neo4j/cypher.go
  packages/go/dawgs/drivers/neo4j/cypher_internal_test.go
  packages/go/dawgs/drivers/neo4j/node.go
  packages/go/dawgs/drivers/neo4j/relationship.go
  packages/go/dawgs/drivers/neo4j/result.go
  packages/go/dawgs/drivers/neo4j/transaction.go
  packages/go/dawgs/util/errors.go
  packages/go/dawgs/util/errors_test.go
Labels: api
