Repository SpecterOps/BloodHound, pull requests merged in 2024-10, with the labels that each got.

#849 Bed 4402 butterfly impact table updates
  cmd/api/src/database/migration/migrations/v6.1.0.sql
  cmd/ui/src/styles/constants.ts
  packages/javascript/js-client-library/src/client.ts
  packages/javascript/js-client-library/src/types.ts
Labels: enhancement, user interface

#894 Bed-4851 OIDC API Provider Registration
  cmd/api/src/api/registration/v2.go
  cmd/api/src/api/tools/analysis_schedule.go
  cmd/api/src/api/tools/analysis_schedule_test.go
  cmd/api/src/api/v2/auth/oidc.go
  cmd/api/src/api/v2/auth/oidc_test.go
  cmd/api/src/database/auth.go
  cmd/api/src/database/db.go
  cmd/api/src/database/migration/migrations/v6.1.0.sql
  cmd/api/src/database/mocks/db.go
  cmd/api/src/database/oidc_providers.go
  cmd/api/src/database/oidc_providers_test.go
  cmd/api/src/database/sso_providers.go
  cmd/api/src/database/sso_providers_test.go
  cmd/api/src/model/audit.go
  cmd/api/src/model/auth.go
  cmd/api/src/model/oidc_provider.go
  cmd/api/src/model/sso_provider.go
  packages/go/graphschema/ad/ad.go
  packages/go/graphschema/azure/azure.go
  packages/go/graphschema/common/common.go
  packages/go/openapi/doc/openapi.json
Labels: api

#900 BED-4655: Add Authentik to docker-compose.dev.yml
  .env.example
  docker-compose.dev.yml
  justfile
Labels: api, tooling

#902 BED-4934: Posture page feature flag
  cmd/api/src/database/migration/migrations/v6.2.0.sql
  cmd/api/src/model/appcfg/flag.go
Labels: api

#907 BED-4947: Fix Last Analysis Run At Bug
  cmd/api/src/database/datapipestatus.go
  cmd/api/src/database/datapipestatus_test.go
Labels: bug, api

#890 Bed-4852: SSO Provider Delete Endpoint
  cmd/api/src/api/constant.go
  cmd/api/src/api/registration/v2.go
  cmd/api/src/api/utils_test.go
  cmd/api/src/api/v2/analysisrequest.go
  cmd/api/src/api/v2/auth/auth.go
  cmd/api/src/api/v2/auth/auth_test.go
  cmd/api/src/api/v2/auth/oidc.go
  cmd/api/src/api/v2/auth/sso.go
  cmd/api/src/api/v2/auth/sso_test.go
  cmd/api/src/api/v2/collectors_test.go
  cmd/api/src/api/v2/version_test.go
  cmd/api/src/database/auth.go
  cmd/api/src/database/auth_test.go
  cmd/api/src/database/db.go
  cmd/api/src/database/migration/migrations/v6.1.0.sql
  cmd/api/src/database/migration/migrations/v6.2.0.sql
  cmd/api/src/database/mocks/db.go
  cmd/api/src/database/oidc_providers_test.go
  cmd/api/src/database/sso_providers.go
  cmd/api/src/database/sso_providers_test.go
  cmd/api/src/model/audit.go
  cmd/api/src/model/sso_provider.go
  packages/go/graphschema/ad/ad.go
Labels: enhancement, api

#897 BED-4768 feat: add login handler for OIDC
  cmd/api/src/api/auth.go
  cmd/api/src/api/constant.go
  cmd/api/src/api/error.go
  cmd/api/src/api/registration/v2.go
  cmd/api/src/api/v2/auth/oidc.go
  cmd/api/src/api/v2/auth/sso.go
  cmd/api/src/database/mocks/db.go
  cmd/api/src/database/sso_providers.go
  cmd/api/src/database/sso_providers_test.go
  cmd/api/src/go.mod
  cmd/api/src/go.sum
  docker-compose.dev.yml
  packages/go/crypto/go.mod
  packages/go/crypto/go.sum
  packages/go/cypher/go.mod
  packages/go/cypher/go.sum
  packages/go/dawgs/go.mod
  packages/go/dawgs/go.sum
  packages/go/log/go.mod
  packages/go/log/go.sum
  packages/go/schemagen/go.mod
  packages/go/schemagen/go.sum
  packages/go/stbernard/go.mod
  packages/go/stbernard/go.sum
Labels: api

#898 Bed 4767 feat: add callback handler for OIDC
  cmd/api/src/api/auth.go
  cmd/api/src/api/constant.go
  cmd/api/src/api/mocks/authenticator.go
  cmd/api/src/api/registration/v2.go
  cmd/api/src/api/saml/saml.go
  cmd/api/src/api/saml/saml_internal_test.go
  cmd/api/src/api/v2/auth/oidc.go
  cmd/api/src/api/v2/auth/sso.go
  cmd/api/src/database/asset.go
  packages/go/crypto/tls.go
Labels: api

#915 BED-4766: Correctly Format SAML Provider Details in ListAuthProviders Endpoint
  cmd/api/src/api/v2/auth/sso.go
  cmd/api/src/auth/bhsaml/db.go
Labels: bug, api

#921 BED-4766: FF Backward Compatibility for ListAuthProviders Endpoint
  cmd/api/src/api/registration/v2.go
  cmd/api/src/database/sso_providers.go
  cmd/api/src/database/sso_providers_test.go
Labels: api

#920 BED-4931: Add Audit Logging for SAML Authentication Attempts after BED-4767
  cmd/api/src/api/auth.go
  cmd/api/src/api/auth_internal_test.go
  cmd/api/src/api/saml/saml.go
  cmd/api/src/api/saml/saml_internal_test.go
  cmd/api/src/auth/model.go
  cmd/api/src/config/default.go
Labels: api

#922 fix: remove FF from delete sso-providers endpoint
  cmd/api/src/api/registration/v2.go
Labels: bug, api

#905 Bed 4805
  cmd/api/src/api/filters.go
  cmd/api/src/model/appcfg/parameter.go
  packages/go/openapi/doc/openapi.json
  packages/go/openapi/src/paths/attack-paths.domains.id.details.yaml
  packages/go/openapi/src/schemas/model.list-finding.yaml
  packages/go/openapi/src/schemas/model.relationship-finding.yaml
Labels: documentation, api

#925 refactor: old saml urls redirect to new sso url
  cmd/api/src/api/auth.go
  cmd/api/src/api/registration/v2.go
  cmd/api/src/api/saml/saml.go
  cmd/api/src/api/saml/saml_internal_test.go
  cmd/api/src/api/v2/auth/auth.go
  cmd/api/src/api/v2/auth/oidc.go
  cmd/api/src/api/v2/auth/saml.go
  cmd/api/src/api/v2/auth/sso.go
Labels: api
