Repository SpecterOps/BloodHound, pull requests merged in 2024-11, with the labels that each got.

#919 feat: add parallel helper functions for dawgs
  packages/go/dawgs/ops/ops.go
  packages/go/dawgs/ops/parallel.go
  packages/go/graphschema/ad/ad.go
  packages/go/graphschema/azure/azure.go
  packages/go/graphschema/common/common.go
  packages/go/schemagen/generator/golang.go
  packages/go/schemagen/main.go
Labels: enhancement, api

#927 BED-4937 Update CreateUser & UpdateUser To Use SSOProviders
  cmd/ui/src/views/Administration/Administration.tsx
  cmd/ui/src/views/Explore/GraphView.tsx
  cmd/ui/src/views/Login.tsx
  cmd/ui/src/views/Users/CreateUserDialog.test.tsx
  packages/javascript/bh-shared-ui/rollup.config.js
  packages/javascript/bh-shared-ui/src/components/CreateUserDialog/CreateUserDialog.test.tsx
  packages/javascript/bh-shared-ui/src/components/CreateUserDialog/CreateUserDialog.tsx
  packages/javascript/bh-shared-ui/src/components/CreateUserDialog/index.ts
  packages/javascript/bh-shared-ui/src/components/CreateUserForm/CreateUserForm.tsx
  packages/javascript/bh-shared-ui/src/components/CreateUserForm/index.ts
  packages/javascript/bh-shared-ui/src/components/UpdateUserDialog/UpdateUserDialog.test.tsx
  packages/javascript/bh-shared-ui/src/components/UpdateUserDialog/UpdateUserDialog.tsx
  packages/javascript/bh-shared-ui/src/components/UpdateUserDialog/index.ts
  packages/javascript/bh-shared-ui/src/components/UpdateUserForm/UpdateUserForm.tsx
  packages/javascript/bh-shared-ui/src/components/UpdateUserForm/index.ts
  packages/javascript/bh-shared-ui/src/components/UserActionsMenu/UserActionsMenu.tsx
  packages/javascript/bh-shared-ui/src/components/UserActionsMenu/index.ts
  packages/javascript/bh-shared-ui/src/components/index.ts
  packages/javascript/bh-shared-ui/src/hooks/useToggle.tsx
  packages/javascript/bh-shared-ui/src/hooks/useUsers.tsx
  packages/javascript/bh-shared-ui/src/views/UserProfile/UserProfile.test.tsx
  packages/javascript/bh-shared-ui/src/views/UserProfile/UserProfile.tsx
  packages/javascript/bh-shared-ui/src/views/Users/Users.test.tsx
  packages/javascript/bh-shared-ui/src/views/Users/Users.tsx
  packages/javascript/bh-shared-ui/src/views/Users/index.ts
  packages/javascript/bh-shared-ui/src/views/index.ts
  packages/javascript/js-client-library/src/client.ts
  packages/javascript/js-client-library/src/types.ts
Labels: user interface

#934 PostgreSQL Related Query Path Fixes
  cmd/api/src/migrations/graph.go
  packages/go/cypher/models/cypher/functions.go
  packages/go/cypher/models/pgsql/functions.go
  packages/go/cypher/models/pgsql/test/translation_cases/pattern_expansion.sql
  packages/go/cypher/models/pgsql/translate/expression.go
  packages/go/cypher/models/pgsql/translate/translator.go
  packages/go/dawgs/drivers/pg/query/query.go
  packages/go/dawgs/drivers/pg/query/sql/schema_up.sql
  packages/go/dawgs/drivers/pg/types.go
Labels: bug, api

#932 BED-4978 feat: add instant redirect if only 1 sso provider is configured
  cmd/ui/src/views/Login.tsx
  packages/javascript/bh-shared-ui/src/components/LoginForm/LoginForm.test.tsx
  packages/javascript/bh-shared-ui/src/components/LoginForm/LoginForm.tsx
  packages/javascript/bh-shared-ui/src/components/LoginForm/index.ts
  packages/javascript/bh-shared-ui/src/components/LoginViaSSOForm/LoginViaSSOForm.test.tsx
  packages/javascript/bh-shared-ui/src/components/LoginViaSSOForm/LoginViaSSOForm.tsx
  packages/javascript/bh-shared-ui/src/components/index.ts
Labels: user interface

#935 BED-4921 fix: missing entity id for saml provider
  cmd/api/src/api/v2/auth/saml.go
  cmd/ui/src/views/Login.tsx
Labels: bug, api

#936 chore: upgrade nodejs usage to 22.x
  .github/workflows/static-code-analysis.yml
  .yarn/cache/@types-node-npm-22.9.0-643fcf7450-c014eb3b8a.zip
  .yarn/cache/undici-types-npm-6.19.8-9f12285b7a-de51f1b447.zip
  DEVREADME.md
  cmd/ui/package.json
  dockerfiles/bloodhound.Dockerfile
  tools/docker-compose/ui.Dockerfile
  yarn.lock
Labels: user interface, infrastructure

#903 CoerceToTGT edge
  cmd/api/src/test/fixtures/fixtures/expected_ingest.go
  cmd/api/src/test/fixtures/fixtures/v6/ingest/computers.json
  cmd/api/src/test/fixtures/fixtures/v6/ingest/users.json
  packages/cue/bh/ad/ad.cue
  packages/go/cypher/test/cases/positive_tests.json
  packages/go/ein/ad.go
  packages/go/ein/incoming_models.go
  packages/go/graphschema/ad/ad.go
  packages/javascript/bh-shared-ui/src/components/HelpTexts/CoerceToTGT/CoerceToTGT.tsx
  packages/javascript/bh-shared-ui/src/components/HelpTexts/CoerceToTGT/General.tsx
  packages/javascript/bh-shared-ui/src/components/HelpTexts/CoerceToTGT/LinuxAbuse.tsx
  packages/javascript/bh-shared-ui/src/components/HelpTexts/CoerceToTGT/Opsec.tsx
  packages/javascript/bh-shared-ui/src/components/HelpTexts/CoerceToTGT/References.tsx
  packages/javascript/bh-shared-ui/src/components/HelpTexts/CoerceToTGT/WindowsAbuse.tsx
  packages/javascript/bh-shared-ui/src/components/HelpTexts/index.tsx
  packages/javascript/bh-shared-ui/src/graphSchema.ts
  packages/javascript/bh-shared-ui/src/views/Explore/ExploreSearch/edgeTypes.tsx
Labels: enhancement, ticketed, external

#952 BED-4921 chore: surface cert parsing error
  cmd/api/src/api/v2/auth/auth.go
  cmd/api/src/api/v2/auth/saml.go
Labels: bug, api

#965 fix: set resolution for cross-spawn to a pinned fix for vuln finding
  .yarn/cache/cross-spawn-npm-6.0.5-2deab6c280-f893bb0d96.zip
  .yarn/cache/cross-spawn-npm-7.0.3-e4ff3e65b3-671cc7c728.zip
  .yarn/cache/cross-spawn-npm-7.0.6-264bddf921-8d306efaca.zip
  .yarn/cache/nice-try-npm-1.0.5-963856b16f-0b4af3b5bb.zip
  .yarn/cache/path-key-npm-2.0.1-b1a971833d-f7ab0ad42f.zip
  .yarn/cache/shebang-command-npm-1.2.0-8990ba5d1d-9eed175030.zip
  .yarn/cache/shebang-regex-npm-1.0.0-c3612b74e9-404c5a752c.zip
  .yarn/cache/which-npm-1.3.1-f0ebb8bdd8-f2e185c624.zip
  package.json
  yarn.lock
Labels: user interface, infrastructure

#967 BED-5048 fix: removing authSecret with SSO assignment
  cmd/api/src/api/v2/auth/auth.go
Labels: bug, api

#938 BP-1111 feat: more default T0 nodes
  packages/go/analysis/ad/ad.go
Labels: enhancement, ticketed, external

#969 BED-5063 chore: Merge back v6.2.2 staging to main
  cmd/api/src/api/v2/auth/auth.go
  packages/go/dawgs/cardinality/hyperloglog64.go
  packages/go/dawgs/cardinality/hyperloglog64_test.go
  packages/javascript/bh-shared-ui/src/hooks/useUsers.tsx
  packages/javascript/bh-shared-ui/src/views/Users/Users.tsx
  packages/javascript/js-client-library/src/client.ts
  packages/javascript/js-client-library/src/types.ts
Labels: api, user interface

#955 BED-4930 fixed color shift in panel lists
  packages/javascript/bh-shared-ui/src/components/InfiniteScrollingTable/InfiniteScrollingTable.tsx
Labels: bug, user interface

#964 BED-4291 refactor: cleanup orphaned SAML logic and persist root uri versions to db
  cmd/api/src/api/auth.go
  cmd/api/src/api/constant.go
  cmd/api/src/api/registration/registration.go
  cmd/api/src/api/registration/v2.go
  cmd/api/src/api/saml/saml.go
  cmd/api/src/api/v2/apiclient/auth.go
  cmd/api/src/api/v2/auth/auth.go
  cmd/api/src/api/v2/auth/auth_test.go
  cmd/api/src/api/v2/auth/saml.go
  cmd/api/src/api/v2/auth/saml_internal_test.go
  cmd/api/src/api/v2/auth/sso.go
  cmd/api/src/api/v2/model.go
  cmd/api/src/auth/bhsaml/const.go
  cmd/api/src/auth/bhsaml/db.go
  cmd/api/src/auth/bhsaml/provider.go
  cmd/api/src/auth/bhsaml/tracking.go
  cmd/api/src/auth/role_test.go
  cmd/api/src/auth/saml.go
  cmd/api/src/cmd/testidp/README.md
  cmd/api/src/cmd/testidp/idp.go
  cmd/api/src/cmd/testidp/samlidp/LICENSE
  cmd/api/src/cmd/testidp/samlidp/identity_provider.go
  cmd/api/src/cmd/testidp/samlidp/memory_store.go
  cmd/api/src/cmd/testidp/samlidp/samlidp.go
  cmd/api/src/cmd/testidp/samlidp/service.go
  cmd/api/src/cmd/testidp/samlidp/session.go
  cmd/api/src/cmd/testidp/samlidp/shortcut.go
  cmd/api/src/cmd/testidp/samlidp/store.go
  cmd/api/src/cmd/testidp/samlidp/user.go
  cmd/api/src/cmd/testidp/samlidp/util.go
  cmd/api/src/database/auth.go
  cmd/api/src/database/auth_test.go
  cmd/api/src/database/db.go
  cmd/api/src/database/migration/migrations/v6.3.0.sql
  cmd/api/src/database/mocks/db.go
  cmd/api/src/database/samlproviders.go
  cmd/api/src/database/sso_providers_test.go
  cmd/api/src/go.mod
  cmd/api/src/go.sum
  cmd/api/src/model/auth.go
  cmd/api/src/model/samlprovider.go
  cmd/api/src/services/entrypoint.go
  cmd/api/src/test/integration/server.go
Labels: api

#940 BED-5012 feat: add callback uri to oidc details
  cmd/api/src/api/v2/auth/sso.go
  cmd/api/src/database/samlproviders.go
  cmd/api/src/model/samlprovider.go
  packages/javascript/bh-shared-ui/src/components/SSOProviderInfoPanel/SSOProviderInfoPanel.tsx
  packages/javascript/js-client-library/src/types.ts
Labels: api, user interface

#953 BED-4894: Posture API Spec
  packages/go/openapi/doc/openapi.json
  packages/go/openapi/src/openapi.yaml
  packages/go/openapi/src/paths/attack-paths.environment.id.finding-trends.yaml
  packages/go/openapi/src/paths/risk-posture.environment.id.posture-history.type.yaml
Labels: documentation, enhancement

#977 BED-4894: Posture API Implementation
  cmd/api/src/api/constant.go
  cmd/api/src/api/v2/attack_path.go
Labels: enhancement, api

#974 Bed 4405: update openAPI docs for list findings
  cmd/api/src/api/v2/auth/saml.go
  cmd/api/src/database/db.go
  packages/go/openapi/doc/openapi.json
  packages/go/openapi/src/paths/attack-paths.domains.id.details.yaml
  packages/go/openapi/src/schemas/model.list-finding.yaml
Labels: documentation, api

#970 Bed 4812
  cmd/ui/src/styles/constants.ts
  packages/javascript/bh-shared-ui/src/components/SSOProviderTable/SSOProviderTable.test.tsx
  packages/javascript/bh-shared-ui/src/components/SSOProviderTable/SSOProviderTable.tsx
  packages/javascript/bh-shared-ui/src/utils/types.ts
  packages/javascript/bh-shared-ui/src/views/SSOConfiguration/SSOConfiguration.tsx
  packages/javascript/js-client-library/src/client.ts
  packages/javascript/js-client-library/src/responses.ts
Labels: enhancement, user interface

#982 Posture page api updates
  cmd/api/src/api/error.go
  packages/go/openapi/doc/openapi.json
  packages/go/openapi/src/openapi.yaml
Labels: documentation, api

#980 chore: update docs for finding details endpoint
  packages/go/openapi/doc/openapi.json
  packages/go/openapi/src/paths/attack-paths.domains.id.details.yaml
Labels: documentation

#975 Bed-5068 feat: Add PATCH endpoint to update sso providers
  cmd/api/src/api/registration/v2.go
  cmd/api/src/api/v2/auth/oidc.go
  cmd/api/src/api/v2/auth/oidc_test.go
  cmd/api/src/api/v2/auth/saml.go
  cmd/api/src/api/v2/auth/sso.go
  cmd/api/src/auth/saml.go
  cmd/api/src/database/auth_test.go
  cmd/api/src/database/mocks/db.go
  cmd/api/src/database/oidc_providers.go
  cmd/api/src/database/oidc_providers_test.go
  cmd/api/src/database/samlproviders.go
  cmd/api/src/database/sso_providers.go
  cmd/api/src/model/audit.go
  cmd/api/src/model/samlprovider.go
  cmd/api/src/utils/validation/url_validator.go
Labels: api

#988 chore: prep review changes
  cmd/api/src/model/samlprovider.go
  packages/go/analysis/post_integration_test.go
  packages/go/graphschema/ad/ad.go
  packages/go/graphschema/azure/azure.go
  packages/go/graphschema/common/common.go
Labels: tooling

#978 BED-5067 feat: add edit sso provider support to ui
  packages/go/openapi/doc/openapi.json
  packages/go/openapi/src/paths/sso.sso-providers.id.yaml
  packages/go/openapi/src/paths/sso.sso-providers.oidc.yaml
  packages/javascript/bh-shared-ui/src/components/CreateOIDCProviderDialog.tsx
  packages/javascript/bh-shared-ui/src/components/SSOProviderTable/SSOProviderTable.tsx
  packages/javascript/bh-shared-ui/src/components/UpsertOIDCProviderDialog.tsx
  packages/javascript/bh-shared-ui/src/components/UpsertOIDCProviderForm.tsx
  packages/javascript/bh-shared-ui/src/components/UpsertSAMLProviderDialog/UpsertSAMLProviderDialog.tsx
  packages/javascript/bh-shared-ui/src/components/UpsertSAMLProviderDialog/index.ts
  packages/javascript/bh-shared-ui/src/components/UpsertSAMLProviderForm/UpsertSAMLProviderForm.test.tsx
  packages/javascript/bh-shared-ui/src/components/UpsertSAMLProviderForm/UpsertSAMLProviderForm.tsx
  packages/javascript/bh-shared-ui/src/components/UpsertSAMLProviderForm/index.ts
  packages/javascript/bh-shared-ui/src/components/index.ts
  packages/javascript/bh-shared-ui/src/views/SSOConfiguration/SSOConfiguration.tsx
  packages/javascript/js-client-library/src/client.ts
  packages/javascript/js-client-library/src/types.ts
Labels: user interface

#981 Bed-5010 feat: Add ability to download SAML signing certificate
  cmd/api/src/api/registration/v2.go
  cmd/api/src/api/v2/auth/saml.go
  packages/go/crypto/tls.go
  packages/go/openapi/doc/openapi.json
  packages/go/openapi/src/openapi.yaml
  packages/go/openapi/src/paths/sso.sso-providers.id.signing-certificate.yaml
  packages/javascript/bh-shared-ui/src/components/SSOProviderInfoPanel/SSOProviderInfoPanel.tsx
  packages/javascript/js-client-library/src/client.ts
Labels: api, user interface
