Repository SpecterOps/BloodHound, pull requests merged in 2024-12, with the labels that each got.

#994 BED-5103 fix: users in bad auth state
  cmd/api/src/database/migration/migrations/v6.3.0.sql
Labels: api

#1006 fix: BED-5154 - CySQL Typing Fixes for Int4 and Int4[]
  packages/go/cypher/models/pgsql/test/translation_cases/pattern_binding.sql
  packages/go/cypher/models/pgsql/test/translation_cases/pattern_expansion.sql
  packages/go/cypher/models/pgsql/test/translation_cases/shortest_paths.sql
  packages/go/cypher/models/pgsql/translate/expansion.go
  packages/go/cypher/models/pgsql/translate/projection.go
Labels: bug, api

#1003 BED-4624: Backend Logic to Redirect User to UI on SSO Login Failure
  cmd/api/src/api/v2/auth/oidc.go
  cmd/api/src/api/v2/auth/saml.go
  cmd/api/src/api/v2/auth/sso.go
  cmd/api/src/test/integration/harnesses/enrollonbehalfof-3.svg
Labels: bug, api

#1022 Update default tier zero
  packages/go/analysis/ad/ad.go
Labels: enhancement, external

#1027 BED-5172: Update crypto version (#1013)
  cmd/api/src/go.mod
  cmd/api/src/go.sum
  packages/go/bomenc/go.mod
  packages/go/bomenc/go.sum
  packages/go/crypto/go.mod
  packages/go/crypto/go.sum
  packages/go/cypher/go.mod
  packages/go/cypher/go.sum
  packages/go/dawgs/go.mod
  packages/go/dawgs/go.sum
  packages/go/log/go.mod
  packages/go/log/go.sum
  packages/go/schemagen/go.mod
  packages/go/schemagen/go.sum
  packages/go/stbernard/go.mod
  packages/go/stbernard/go.sum
Labels: api, release blocker

#1024 chore: integration testing portability enhancement and schema cleanup
  cmd/api/src/analysis/azure/queries_test.go
  cmd/api/src/queries/graph_integration_test.go
  cmd/api/src/test/integration/graph.go
  packages/cue/bh/ad/ad.cue
  packages/go/analysis/ad/post.go
  packages/go/graphschema/ad/ad.go
  packages/javascript/bh-shared-ui/src/graphSchema.ts
Labels: api, tooling

#1020 CySQL Support and fixes
  cmd/api/src/api/tools/pg.go
  cmd/api/src/api/v2/integration/ingest.go
  cmd/api/src/api/v2/integration/reconciliation.go
  cmd/api/src/test/integration/context.go
  cmd/api/src/test/integration/dawgs.go
  cmd/api/src/test/integration/harnesses/enrollonbehalfof-1.svg
  cmd/api/src/test/integration/harnesses/enrollonbehalfof-2.svg
  cmd/api/src/test/integration/harnesses/enrollonbehalfof-3.svg
  packages/go/cypher/models/cypher/functions.go
  packages/go/cypher/models/pgsql/format/format.go
  packages/go/cypher/models/pgsql/model.go
  packages/go/cypher/models/pgsql/operators.go
  packages/go/cypher/models/pgsql/pgtypes.go
  packages/go/cypher/models/pgsql/test/kindmapper.go
  packages/go/cypher/models/pgsql/test/testcase.go
  packages/go/cypher/models/pgsql/test/translation_cases/delete.sql
  packages/go/cypher/models/pgsql/test/translation_cases/harness.cypher
  packages/go/cypher/models/pgsql/test/translation_cases/harness.sql
  packages/go/cypher/models/pgsql/test/translation_cases/nodes.sql
  packages/go/cypher/models/pgsql/test/translation_cases/pattern_binding.sql
  packages/go/cypher/models/pgsql/test/translation_cases/pattern_expansion.sql
  packages/go/cypher/models/pgsql/test/translation_cases/shortest_paths.sql
  packages/go/cypher/models/pgsql/test/translation_cases/stepwise_traversal.sql
  packages/go/cypher/models/pgsql/test/translation_cases/update.sql
  packages/go/cypher/models/pgsql/translate/expression.go
  packages/go/cypher/models/pgsql/translate/format.go
  packages/go/cypher/models/pgsql/translate/node.go
  packages/go/cypher/models/pgsql/translate/relationship.go
  packages/go/cypher/models/pgsql/translate/translation.go
  packages/go/cypher/models/pgsql/translate/translator.go
  packages/go/cypher/models/pgsql/translate/translator_test.go
  packages/go/cypher/models/pgsql/translate/update.go
  packages/go/cypher/models/pgsql/visualization/visualizer_test.go
  packages/go/dawgs/drivers/pg/batch.go
  packages/go/dawgs/drivers/pg/driver.go
  packages/go/dawgs/drivers/pg/manager.go
  packages/go/dawgs/drivers/pg/mapper.go
  packages/go/dawgs/drivers/pg/node_test.go
  packages/go/dawgs/drivers/pg/pg.go
  packages/go/dawgs/drivers/pg/pgutil/kindmapper.go
  packages/go/dawgs/drivers/pg/query.go
  packages/go/dawgs/drivers/pg/result.go
  packages/go/dawgs/drivers/pg/transaction.go
  packages/go/dawgs/drivers/pg/types.go
Labels: enhancement, api

#1029 BED-4841: fix: fall back to ObjectID when DomainSID is missing while loading foreign members
  packages/go/analysis/ad/queries.go
Labels: bug, api

#1031 BED-5204: Resolve CVE-2024-45338
  cmd/api/src/go.mod
  cmd/api/src/go.sum
  cmd/api/src/test/integration/harnesses/enrollonbehalfof-1.svg
  cmd/api/src/test/integration/harnesses/enrollonbehalfof-2.svg
  cmd/api/src/test/integration/harnesses/enrollonbehalfof-3.svg
  packages/cue/cue.mod/module.cue
  packages/go/analysis/go.mod
  packages/go/analysis/go.sum
  packages/go/bomenc/go.mod
  packages/go/bomenc/go.sum
  packages/go/cache/go.mod
  packages/go/cache/go.sum
  packages/go/cypher/go.mod
  packages/go/cypher/go.sum
  packages/go/dawgs/go.mod
  packages/go/dawgs/go.sum
  packages/go/ein/go.mod
  packages/go/ein/go.sum
  packages/go/errors/go.mod
  packages/go/errors/go.sum
  packages/go/lab/go.mod
  packages/go/lab/go.sum
  packages/go/schemagen/go.mod
  packages/go/schemagen/go.sum
  packages/go/slicesext/go.mod
  packages/go/slicesext/go.sum
  packages/go/stbernard/go.mod
  packages/go/stbernard/go.sum
Labels: api

#1032 BED-5191: GET /details API client can send multiple sort_by query params
  packages/javascript/js-client-library/src/client.ts
Labels: enhancement, user interface

#1030 Remove DnsAdmins from default tier zero
  packages/go/analysis/ad/ad.go
Labels: enhancement, external

#1033 BED-5013: Deprecate Create SAML Endpoint
  cmd/api/src/api/registration/v2.go
  packages/go/openapi/doc/openapi.json
  packages/go/openapi/src/openapi.yaml
  packages/go/openapi/src/paths/auth.saml.providers.id.yaml
  packages/go/openapi/src/paths/auth.saml.providers.yaml
  packages/go/openapi/src/paths/auth.saml.sso.yaml
  packages/go/openapi/src/paths/auth.saml.yaml
  packages/go/openapi/src/paths/auth.sso-providers.saml.yaml
  packages/javascript/bh-shared-ui/src/views/SSOConfiguration/SSOConfiguration.test.tsx
  packages/javascript/js-client-library/src/client.ts
Labels: documentation, api

#1008 BED-5072 fix local dev infinite loop
  cmd/ui/src/main.tsx
Labels: bug

#1040 BED 4992: Added DoodleUI Skeleton component into Posture Page
  .yarn/cache/@bloodhoundenterprise-doodleui-npm-1.0.0-alpha.12-81cbc222a8-df3f49e535.zip
  .yarn/cache/@bloodhoundenterprise-doodleui-npm-1.0.0-alpha.13-c77d910f01-17ceaffee9.zip
  cmd/ui/package.json
  packages/javascript/bh-shared-ui/package.json
  yarn.lock
Labels: user interface

#1042 Fix typescript errors in `bh-shared-ui`
  .github/workflows/build-ui.yml
  packages/javascript/bh-shared-ui/package.json
  packages/javascript/bh-shared-ui/rollup.config.js
  packages/javascript/bh-shared-ui/src/components/CreateUserDialog/CreateUserDialog.test.tsx
  packages/javascript/bh-shared-ui/src/components/LoginViaSSOForm/LoginViaSSOForm.test.tsx
  packages/javascript/bh-shared-ui/src/components/SSOProviderInfoPanel/SSOProviderInfoPanel.test.tsx
  packages/javascript/bh-shared-ui/src/components/SSOProviderTable/SSOProviderTable.test.tsx
  packages/javascript/bh-shared-ui/src/components/UpdateUserDialog/UpdateUserDialog.test.tsx
  packages/javascript/bh-shared-ui/src/components/UpsertSAMLProviderForm/UpsertSAMLProviderForm.test.tsx
  packages/javascript/bh-shared-ui/src/views/SSOConfiguration/SSOConfiguration.test.tsx
  packages/javascript/bh-shared-ui/src/views/Users/Users.test.tsx
  packages/javascript/js-client-library/package.json
Labels: user interface, tooling
